<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('/css/nav') }}
    
    @!section('css')
    <title>
        @!section('title')
    </title>
</head>
<body>
    <header>          
            <div class="topnav">
                <a class="active" href="/">user(fullname)</a> 
                <span class="leftfloat" href="/" ><img class="logo" src="assets/images/rnm.png" alt=""></span>                   
            </div>            
            <div class="leftnav">                   
                <span id="opennav" onclick="openNav()">&#9776;</span>
            </div>   
            <div id="mySidenav" class="sidenav">                               
                <a href="javascript:void(0)" class="closebtn" id="closenav" onclick="closeNav()">&times;</a>
                <a href="/" id="logo">logo</a>
                <nav>
                    <ul>
                        <a href="/">File</a>
                        <a href="/area">Area</a>
                        <a href="/help">Help</a>
                        <a href="/send feedback">Send Feedback</a>
                    </ul>
                </nav> 
            </div>                   
            </header>             
        <div class="container">
            @!section('content')
        </div>
    {{ script('/scripts/main') }}
</body>
</html>